* {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    width: 90%; margin: 0px auto;
}


nav ul {
    	list-style: none; 
	padding: 0px; 
	display: block;
    	clear: right; 
	background-color: #007755;
    	padding-left: 4px; 
	height: 24px;
}

nav ul li {
    	display: inline; 
	padding: 0px 20px 5px 10px;
    	height: 24px; 
	border-right: 1px solid #ccc;
}

nav ul li a {
    	color: #EFD3D3; 
	text-decoration: none;
    	font-size: small; 
	font-weight: bold;
}

nav ul li a:hover {
	color: #fff;
}