<?xml version="1.0"?>

<porpoise-configuration>
 <connectors>
  <!--<connector><name></name><file></file></connector>-->
 </connectors>
 <layers>

<!--
  <layer>
   <name>fihr</name>
   <connector>XMLPOIConnector</connector>
   <source>fihr.xml</source>
  </layer>
-->
<!--
Sample XML+XSL layer configuration
  <layer>
   <name>example</name>
   <connector>XMLPOIConnector
    <options><stylesheet>xsl/yoursheet.xsl</stylesheet></options>
   </connector>
   <source>example.xml</source>
  </layer>
-->

<!--
  <layer>
   <name>alcarrer</name>
   <connector>SQLPOIConnector</connector>
   <source>
    <dsn>mysql:host=129.200.9.67;dbname=guia</dsn>
    <username>root</username>
    <password>Vilade840</password>
   </source>
  </layer>

-->
  <layer>
   <name>guiaviladecans</name>
   <connector>SQLPOIConnector</connector>
   <source>
    <dsn>mysql:host=129.200.9.67;dbname=guia</dsn>
    <username>root</username>
    <password>Vilade840</password>
   </source>
  </layer>


 



<!-- 
	Test layer for OAuth login / logout and User account persistence

	Uses OAuth test service:
	* http://oauth-sandbox.sevengoslings.net/
	* http://github.com/fangel/oauth-sandbox
	
	Make sure tp create a database 'porpoise' with schema from database.sql
	DSN sessings are valid for default MAMP configuration
	
	See web-app.class.php and layers/TestApp.php for implementation details
	You should add specific web app actions to the subclass (TestApp) only.
	
	Test this app by accessing the urls (example for MAMP default configuration):
	
	* http://localhost:8888/PorPOISe/web/web.php?layerName=test&action=login
	* http://localhost:8888/PorPOISe/web/web.php?layerName=test&action=test
	* http://localhost:8888/PorPOISe/web/web.php?layerName=test&action=two_legged
	* http://localhost:8888/PorPOISe/web/web.php?layerName=test&action=three_legged
	* http://localhost:8888/PorPOISe/web/web.php?layerName=test&action=logout
	
	Configuration at the Layar deployment site:
	Add the 'login' action with the full login url, e.g.
	* http://example.com/web/web.php?layerName=test&action=login
-->
<!--
  <layer>
   <name>test</name>
   <connector>SQLPOIConnector</connector>
   <source>
    <dsn>mysql:host=localhost;dbname=porpoise;port=8889</dsn>
    <username>root</username>
    <password>root</password>
   </source>
   <web_app>
   	<name>TestWebApp</name>
   	<file>TestWebApp.php</file>
   </web_app>
   <oauth>
   	<consumer_key>d5c7c0cdc692564f</consumer_key>
   	<secret_key>952ae5635185f6bf0257bd81bf02</secret_key>
	<baseUrl>http://oauth-sandbox.sevengoslings.net</baseUrl>
	<tokenPath>
		<request>/request_token</request>
		<access>/access_token</access>
		<authorize>/authorize</authorize>
	</tokenPath>
   </oauth>
  </layer>
-->

 </layers>
</porpoise-configuration>
